.auth-screen {
  .center-image {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    .top-cover {
      height: 250px;
      width: 250px;
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
    }
  }
}
