<ion-content class="ion-padding">
  <div class="auth-container">
    <div class="auth-image">
      <img src="assets/images/auth.jpg" alt="Mental Health">
    </div>

    <div class="auth-content">

      <div class="google-signin-container">
        <div id="googleSignInButton"></div>
      </div>

      <ion-button expand="full" color="primary" (click)="googleLogin()" >
        Login with Google
      </ion-button>
      <div *ngIf="isLoading" class="loading-container">
        <ion-spinner></ion-spinner>
      </div>

      <div *ngIf="error" class="error-message">
        {{ error }}
      </div>
    </div>
  </div>
</ion-content>
