<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="previousMonth()">
        <ion-icon name="chevron-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>{{ getMonthName() }} {{ getYear() }}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="nextMonth()">
        <ion-icon name="chevron-forward-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="calendar-container">
    <div class="weekdays">
      <div *ngFor="let weekday of weekdays" class="weekday">{{ weekday }}</div>
    </div>
    <div class="days-grid">
      <div
        *ngFor="let day of calendarDays"
        class="day"
        [class.current-month]="isCurrentMonth(day.date)"
        [class.other-month]="!isCurrentMonth(day.date)"
        (click)="openEmotionalStateModal(day)"
      >
        <div class="day-number">{{ day.dayNumber }}</div>
        <div *ngIf="day.emotion" class="emotion-indicator">
          <ion-icon
            [name]="getEmotionIcon(day.emotion)"
            [style.color]="getEmotionColor(day.emotion)"
          ></ion-icon>
        </div>
      </div>
    </div>
  </div>
</ion-content> 