<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home">
      <ion-icon name="home"></ion-icon>
      <ion-label>Головна</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="meditation">
      <ion-icon name="leaf"></ion-icon>
      <ion-label>Медитація</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="habits">
      <ion-icon name="calendar"></ion-icon>
      <ion-label>Звички</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="profile">
      <ion-icon name="person"></ion-icon>
      <ion-label>Профіль</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs> 