<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home" routerLink="/tabs/home" routerDirection="root">
      <ion-icon name="home"></ion-icon>
      <ion-label>Головна</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="challenges" routerLink="/tabs/challenges" routerDirection="root">
      <ion-icon name="trophy"></ion-icon>
      <ion-label>Виклики</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="habits" routerLink="/tabs/habits" routerDirection="root">
      <ion-icon name="calendar"></ion-icon>
      <ion-label>Звички</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="profile" routerLink="/tabs/profile" routerDirection="root">
      <ion-icon name="person"></ion-icon>
      <ion-label>Профіль</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
