<ion-tabs>
  <ion-tab-bar slot="bottom" role="tablist" aria-label="Main navigation">
    <ion-tab-button tab="home" role="tab" aria-selected="false" aria-controls="tab-home">
      <ion-icon name="home-outline" aria-hidden="true"></ion-icon>
      <ion-label>{{ 'TABS.HOME' | translate }}</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="challenges" role="tab" aria-selected="false" aria-controls="tab-challenges">
      <ion-icon name="trophy" aria-hidden="true"></ion-icon>
      <ion-label>{{ 'TABS.CHALLENGES' | translate }}</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="habits" role="tab" aria-selected="false" aria-controls="tab-habits">
      <ion-icon name="leaf-outline" aria-hidden="true"></ion-icon>
      <ion-label>{{ 'TABS.HABITS' | translate }}</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="notifications" role="tab" aria-selected="false" aria-controls="tab-notifications">
      <ion-icon name="notifications-outline" aria-hidden="true"></ion-icon>
      <ion-label>{{ 'TABS.NOTIFICATIONS' | translate }}</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="profile" role="tab" aria-selected="false" aria-controls="tab-profile">
      <ion-icon name="person-outline" aria-hidden="true"></ion-icon>
      <ion-label>{{ 'TABS.PROFILE' | translate }}</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
