<ion-header>
  <ion-toolbar>
    <ion-title>My Emotional State</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismiss()">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="emotionForm">
    <div class="modal-content">
      <ion-grid>
        <ion-row>
          <ion-col size="6" *ngFor="let emotion of emotions">
            <ion-item 
              button 
              [class.selected]="selectedEmotion?.type === emotion.type"
              (click)="selectEmotion(emotion.type)"
              lines="none"
              class="emotion-item"
            >
              <ion-icon [name]="emotion.icon" slot="start" [style.color]="emotion.color"></ion-icon>
              <ion-label>{{ emotion.label }}</ion-label>
            </ion-item>
          </ion-col>
        </ion-row>
      </ion-grid>

      <ion-item>
        <ion-textarea
          formControlName="note"
          placeholder="Add a note (optional)"
          rows="4"
        ></ion-textarea>
      </ion-item>
    </div>
  </form>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-button 
      expand="block" 
      [disabled]="!emotionForm.valid"
      (click)="saveEmotion()"
    >
      Save
    </ion-button>
  </ion-toolbar>
</ion-footer> 