<ion-header>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button (click)="close()">
        <ion-icon slot="icon-only" name="close-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>{{ translateService.instant('LIFE_WHEEL.TITLE') }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <!-- Список сфер для оцінки -->
  <div *ngIf="!isDataSaved" class="areas-list">
    <ion-list>
      <ion-item *ngFor="let area of areas">
        <ion-range
          [min]="1"
          [max]="10"
          [step]="1"
          [value]="area.value"
          (ionChange)="setAreaValue(area, $event)"
          [disabled]="isDataSaved"
          [snaps]="true"
          color="primary"
          [aria-label]="area.key | translate">

          <!-- Назва області (label) -->
          <div slot="label">
            <h2>{{ area.key | translate }}</h2>
          </div>
          <!-- Іконка зліва -->
          <ion-icon slot="start" [name]="area.icon"></ion-icon>
          <!-- Поточне значення справа -->
          <div slot="end">{{ area.value }}</div>
        </ion-range>
      </ion-item>
    </ion-list>

    <ion-button expand="block" (click)="saveResults()" class="save-button" [disabled]="!isAllAreasRated">
      {{ 'LIFE_WHEEL.SAVE' | translate }}
    </ion-button>
  </div>

  <!-- Колесо життя -->
  <div *ngIf="isDataSaved" class="wheel-container">
    <div class="wheel-svg-container" (click)="toggleEditMode()">
      <svg viewBox="-42 0 470 400" class="life-wheel-svg"> <!-- -30 -50 470 490 -->
        <!-- Сегменти колеса -->
        <g *ngFor="let area of areas; let i = index" [attr.transform]="'rotate(' + (i * 45 - 45 -45) + ', 200, 200)'">
          <path *ngFor="let level of [1,2,3,4,5,6,7,8,9,10]; let j = index"
                [attr.d]="createSegmentPath(j, level === area.value)"
                [attr.class]="'segment ' + (level <= area.value ? 'active' : 'inactive')"
                (click)="onSegmentClick(area, level)"
                [attr.fill]="getSegmentColor(i, level <= area.value)"/>

          <!-- Іконки та підписи -->
          <g [attr.transform]="'rotate(' + (-i * 45 + 45 +45) + ', 210, 200)'">
            <image [attr.x]="getIconX(i)" [attr.y]="getIconY(i)" width="30" height="30"
                   [attr.href]="'assets/icons/' + area.icon + '.svg'"/>
            <text [attr.x]="getLabelX(i,(area.key=='LIFE_WHEEL.AREAS.SOCIAL_LIFE')? 35:10)" [attr.y]="getLabelY(i, (area.key=='LIFE_WHEEL.AREAS.FINANCES' || 'LIFE_WHEEL.AREAS.FRIENDS')? 27:0)"
                  [attr.text-anchor]="getLabelAnchor(i)" class="area-label">
              {{ area.key | translate }}
            </text>
          </g>
        </g>
      </svg>
    </div>

    <div class="wheel-controls">
      <ion-button expand="block" (click)="toggleEditMode()" class="edit-button" [color]="isEditing ? 'success' : 'primary'">
        {{ (isEditing ? 'LIFE_WHEEL.SAVE' : 'LIFE_WHEEL.EDIT') | translate }}
      </ion-button>
      <ion-button expand="block" (click)="resetData()" class="reset-button">
        {{ 'LIFE_WHEEL.RESET' | translate }}
      </ion-button>
    </div>
  </div>
</ion-content>
