<ion-header>
  <ion-toolbar>
    <ion-title>{{ 'HOME.DAILY_WISH' | translate }}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismiss()" class="close-button" [attr.aria-label]="'COMMON.CLOSE' | translate">
        <ion-icon name="close-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="wish-container">
    <ion-icon name="heart-outline" color="primary" class="wish-icon" aria-hidden="true"></ion-icon>
    <p class="wish-text" [attr.aria-label]="'HOME.YOUR_WISH' | translate">{{wish}}</p>
    <ion-button expand="block" (click)="dismiss()" class="dismiss-button">
      {{ 'COMMON.CLOSE' | translate }}
    </ion-button>
  </div>
</ion-content> 