.wish-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  text-align: center;
  padding: 20px;

  .wish-icon {
    font-size: 48px;
    margin-bottom: 20px;
  }

  .wish-text {
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: 30px;
    color: var(--ion-color-medium);
  }

  .close-button {
    max-width: 200px;
    margin: 0 auto;
  }
}

:host {
  --height: 50%;
  --border-radius: 16px 16px 0 0;
} 