.wish-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  text-align: center;
  padding: 1rem;

  .wish-icon {
    font-size: 3rem;
    margin-bottom: 1rem;
  }

  .wish-text {
    font-size: 1.2rem;
    line-height: 1.5;
    margin: 1rem 0;
    color: var(--ion-color-dark);
  }

  .close-button {
    max-width: 200px;
    margin: 0 auto;
  }
}

:host {
  --height: 50%;
  --border-radius: 16px 16px 0 0;

  .close-button,
  .dismiss-button {
    &:focus-visible {
      outline: 2px solid var(--ion-color-primary);
      outline-offset: 2px;
    }
  }
}

:host ::ng-deep {
  a:focus-visible,
  button:focus-visible,
  [role="button"]:focus-visible {
    outline: 2px solid var(--ion-color-primary);
    outline-offset: 2px;
  }
} 