<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/profile"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ 'PROFILE.EDIT_PROFILE' | translate }}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="saveProfile()">
        <ion-icon name="save-outline" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <ion-list>
    <ion-item>
      <ion-input 
        label="{{ 'PROFILE.NAME' | translate }}"
        [(ngModel)]="userData.name" 
        [placeholder]="'PROFILE.ENTER_NAME' | translate">
      </ion-input>
    </ion-item>

    <ion-item>
      <ion-input 
        label="{{ 'PROFILE.EMAIL' | translate }}"
        type="email" 
        [(ngModel)]="userData.email" 
        [placeholder]="'PROFILE.ENTER_EMAIL' | translate">
      </ion-input>
    </ion-item>

    <ion-item>
      <ion-input 
        label="{{ 'PROFILE.PHONE' | translate }}"
        type="tel" 
        [(ngModel)]="userData.phone" 
        [placeholder]="'PROFILE.ENTER_PHONE' | translate">
      </ion-input>
    </ion-item>

    <ion-item>
      <ion-textarea 
        label="{{ 'PROFILE.BIO' | translate }}"
        [(ngModel)]="userData.bio" 
        [placeholder]="'PROFILE.ENTER_BIO' | translate" 
        rows="4">
      </ion-textarea>
    </ion-item>
  </ion-list>
</ion-content> 