<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/profile"></ion-back-button>
    </ion-buttons>
    <ion-title>Edit Profile</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="saveProfile()">
        <ion-icon name="save-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-list>
    <ion-item>
      <ion-label position="stacked">Name</ion-label>
      <ion-input [(ngModel)]="userProfile.name" placeholder="Enter your name"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Email</ion-label>
      <ion-input type="email" [(ngModel)]="userProfile.email" disabled></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Bio</ion-label>
      <ion-textarea [(ngModel)]="userProfile.bio" placeholder="Tell us about yourself"></ion-textarea>
    </ion-item>
  </ion-list>
</ion-content>
