<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/profile"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ 'PROFILE.EDIT_PROFILE' | translate }}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="saveProfile()">
        <ion-icon name="save-outline" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <ion-list>
    <ion-item>
      <ion-label position="stacked">{{ 'PROFILE.NAME' | translate }}</ion-label>
      <ion-input [(ngModel)]="userData.name" [placeholder]="'PROFILE.ENTER_NAME' | translate"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">{{ 'PROFILE.EMAIL' | translate }}</ion-label>
      <ion-input [(ngModel)]="userData.email" type="email" [placeholder]="'PROFILE.ENTER_EMAIL' | translate"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">{{ 'PROFILE.PHONE' | translate }}</ion-label>
      <ion-input [(ngModel)]="userData.phone" type="tel" [placeholder]="'PROFILE.ENTER_PHONE' | translate"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">{{ 'PROFILE.BIO' | translate }}</ion-label>
      <ion-textarea [(ngModel)]="userData.bio" [placeholder]="'PROFILE.ENTER_BIO' | translate" rows="4"></ion-textarea>
    </ion-item>
  </ion-list>
</ion-content> 