<ion-header class="ion-no-border">
  <ion-toolbar mode="md" color="primary">
    <ion-title>{{ 'CHALLENGES.TITLE' | translate }}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="goToNotifications()">
        <ion-icon slot="icon-only" name="notifications-outline"></ion-icon>
      </ion-button>
      <ion-button (click)="goToBookmarks()">
        <ion-icon slot="icon-only" name="bookmark-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">


  <!-- Поточний виклик -->
  <div class="current-challenge">
    <h2>{{ 'CHALLENGES.CURRENT_CHALLENGE' | translate }}</h2>
    <ion-card>
      <ion-card-header>
        <ion-card-subtitle>{{ 'CHALLENGES.DAY' | translate }} 15 {{ 'CHALLENGES.OF' | translate }} 40</ion-card-subtitle>
        <ion-card-title>40 {{ 'CHALLENGES.DAYS' | translate }} {{ 'CHALLENGES.TITLE' | translate }}</ion-card-title>
      </ion-card-header>

      <ion-card-content>
        <div class="progress-bar">
          <div class="progress" [style.width.%]="(15/40)*100"></div>
        </div>

        <div class="tasks">
          <h3>{{ 'CHALLENGES.DAILY_TASKS' | translate }}:</h3>
          <ion-list>
            <ion-item *ngFor="let task of currentChallenge.tasks">
              <ion-icon [name]="task.icon" slot="start" [color]="task.completed ? 'success' : 'medium'"></ion-icon>
              <ion-label>
                <h3>{{task.name}}</h3>
                <p>{{task.description}}</p>
              </ion-label>
              <ion-badge slot="end" [color]="task.completed ? 'success' : 'medium'">
                {{task.completed ? ('CHALLENGES.COMPLETED' | translate) : ('CHALLENGES.NOT_COMPLETED' | translate)}}
              </ion-badge>
            </ion-item>
          </ion-list>
        </div>

        <div class="rewards">
          <h3>{{ 'CHALLENGES.REWARDS' | translate }}:</h3>
          <ion-list>
            <ion-item>
              <ion-icon name="trophy-outline" slot="start" color="warning"></ion-icon>
              <ion-label>
                <h3>40 {{ 'CHALLENGES.POINTS' | translate }}</h3>
                <p>{{ 'CHALLENGES.FOR_COMPLETION' | translate }}</p>
              </ion-label>
            </ion-item>
            <ion-item>
              <ion-icon name="gift-outline" slot="start" color="success"></ion-icon>
              <ion-label>
                <h3>{{ 'CHALLENGES.PARTNER_DISCOUNTS' | translate }}</h3>
                <p>Adidas 15%, Garmin 15%, Nike 15$</p>
              </ion-label>
            </ion-item>
          </ion-list>
        </div>
      </ion-card-content>
    </ion-card>
  </div>

  <!-- Майбутні виклики -->
  <div class="upcoming-challenges">
    <h2>{{ 'CHALLENGES.UPCOMING_CHALLENGES' | translate }}</h2>
    
    <ion-card>
      <img src="assets/images/auth.jpg" />
      <ion-card-header>
        <ion-card-subtitle>40 {{ 'CHALLENGES.DAYS' | translate }}</ion-card-subtitle>
        <ion-card-title>{{ 'PROFILE.SLEEP' | translate }}</ion-card-title>
      </ion-card-header>

      <ion-card-content>
        <p><strong>{{ 'CHALLENGES.CONDITION' | translate }}:</strong> Лягайте спати до 23:00 і прокидайтеся о 6:00-7:00 щодня протягом місяця.</p>
        
        <div class="rewards-preview">
          <h4>{{ 'CHALLENGES.REWARDS_PREVIEW' | translate }}:</h4>
          <ul>
            <li>1 {{ 'CHALLENGES.POINTS' | translate }} {{ 'CHALLENGES.FOR_COMPLETION' | translate }}</li>
            <li>+5 {{ 'CHALLENGES.BONUS_POINTS' | translate }}</li>
            <li>{{ 'CHALLENGES.PARTNER_DISCOUNTS' | translate }}: Adidas 15%, Garmin 15%, Nike 15$</li>
          </ul>
        </div>

        <div class="integration-note">
          <ion-icon name="information-circle-outline"></ion-icon>
          <p>{{ 'CHALLENGES.SYNC_NOTE' | translate }}</p>
        </div>

        <ion-button expand="block" (click)="startChallenge('sleep')">
          {{ 'CHALLENGES.START_CHALLENGE' | translate }}
        </ion-button>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
